# Python / pip
__pycache__/
.venv/
*.pyc

# Node.js
nodejs/node_modules/
nodejs/package-lock.json

# Java build artifacts
java/*.class

# Go build artifacts
go/binarytrees
go/.gocache/

# Rust target directory
rust/target/

# Matplotlib cache & generated figures
.cache/
figures/

# Misc
.DS_Store

cpp/binarytrees*
dotnet/bin/
dotnet/obj/
.idea/